obj
bin
out
NDependOut*
_ReSharper.*
*.user
*.resharper
*.ReSharper
*.suo
*.cache
*.~
*.swp
*.nupkg
packages
Oracle.DataAccess.dll
lib/Simple.*.dll
lib/Simple.*.pdb
*.patch
Simple.Data.Oracle.sln.DotSettings
