<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleClient" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Oracle.DataAccess.Client"  />
    <add name="DevartOracle" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Devart.Data.Oracle"  />
  </connectionStrings>
</configuration>